{% extends "base.html" %}

{% block main %}
<div id="sidebar">
    <div id="joinDiv">
        <h2> Join TrueDelta </h2>
        <p> We are <b>103,000+</b> car owners sharing real-world car information. </p>
        <a id="ribbon" href="/join"> Join Us</a>
    </div>
    <div class="listDiv">
        <h2> Most Wishlisted Cars: Specs </h2>
        <ol>
            <li> <a href="/bloop"> Bloop </a></li>
            <li> <a href="/shmoop"> Shmoop </a></li>
            <li> <a href="/floop"> Floop </a></li>
        </ol>
    </div>
</div>
<div id="rightSide">
    <h1> Find Car Models With... </h1>
    <div class="yellow alertDiv">
        For more specific suggestions based on your needs and wants, post a question on our <a href="/next_car/">My Next
            Car?</a> page.
    </div>
    <div id="formDiv">
        <form id="dropdown" method="post">
            {% csrf_token %}
            <h3> Model Year </h3>
            <div id="yearSelect">
                <div>
                    <p> From </p>
                    {{ yearForm.year }}
                </div>
                <div>
                    <p> To </p>
                    {{ yearForm.year }}
                </div>
            </div>
            <h3> Acceptable Brands </h3>
            <div>
                <input type="checkbox" id="mainstreamCheck">
                <label for="mainstreamCheck">
                    Mainstream Brands
                </label>
                <input type="checkbox" id="premiumCheck">
                <label for="premiumCheck">
                    Premium Brands
                </label>
            </div>
            <h3> Maximum Repair Frequency </h3>
            <div>
                <input type="checkbox" id="ignoreCheck">
                <label for="ignoreCheck">
                    Ignore reliability (to include models with no stats)
                </label>
            </div>
            <h3> Body Style </h3>
            <h3> Number of Doors </h3>
            <h3> Fuel Type </h3>
            <h3> Acceptable Transmissions </h3>
            <div class="multiCheck">
                <div class="checkDiv">
                    <input type="checkbox" id="autoCheck">
                    <label for="autoCheck">
                        Automatic
                    </label>
                </div>
                <div class="checkDiv">
                    <input type="checkbox" id="shiftCheck">
                    <label for="shiftCheck">
                        Manually Shiftable Automatic
                    </label>
                </div>
                <div class="checkDiv">
                    <input type="checkbox" id="cvtCheck">
                    <label for="cvtCheck">
                        Continuously Variable (CVT)
                    </label>
                </div>
                <div class="checkDiv">
                    <input type="checkbox" id="manualCheck">
                    <label for="manualCheck">
                        Manual
                    </label>
                </div>

            </div>
            <h3> Acceptable Drivetrains </h3>
            <div class="multiCheck">
                <div class="checkDiv">
                    <input type="checkbox" id="frontCheck">
                    <label for="frontCheck">
                        Front-Wheel Drive
                    </label>
                </div>
                <div class="checkDiv">
                    <input type="checkbox" id="rearCheck">
                    <label for="rearCheck">
                        Rear-Wheel Drive
                    </label>
                </div>
                <div class="checkDiv">
                    <input type="checkbox" id="allCheck">
                    <label for="allCheck">
                        AWD/4WD, all surfaces
                    </label>
                </div>
                <div class="checkDiv">
                    <input type="checkbox" id="looseCheck">
                    <label for="looseCheck">
                        AWD/4WD, only loose surfaces
                    </label>
                </div>
            </div>
            <h3> Desired Features </h3>
            <div id="featuresDiv">
                <p class="toggleFeatures" id="allToggle"> (show all) </p>
                <div class="featureGroups">
                    <h4> Powertrain and Chassis </h4>
                    <p class="toggleFeatures" id="ptrainToggle"> (show) </p>
                </div>
                <div class="multiCheck" id="ptrainFeatures" style="display: none">
                    <div class="checkDiv">
                        <input type="checkbox" id="paddleCheck">
                        <label for="paddleCheck">
                            Paddle shifters
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="lowRangeCheck">
                        <label for="lowRangeCheck">
                            Low-range gearing
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="slipCheck">
                        <label for="slipCheck">
                            Limited-slip differential
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="activeCheck">
                        <label for="activeCheck">
                            Active rear differential
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="torqueCheck">
                        <label for="torqueCheck">
                            Brake-based torque vectoring
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="adaptiveCheck">
                        <label for="adaptiveCheck">
                            Adaptive dampers (electrical)
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="airCheck">
                        <label for="airCheck">
                            Air suspension
                        </label>
                    </div>
                </div>
                <div class="featureGroups">
                    <h4> Safety </h4>
                    <p class="toggleFeatures" id="safetyToggle"> (show) </p>
                </div>
                <div class="multiCheck" id="safetyFeatures" style="display: none">
                    <div class="checkDiv">
                        <input type="checkbox" id="blindspotCheck">
                        <label for="blindspotCheck">
                            Blind spot warning
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="departureCheck">
                        <label for="departureCheck">
                            Lane departure warning
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="keepingCheck">
                        <label for="keepingCheck">
                            Lane keeping assistance
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="forwardCheck">
                        <label for="forwardCheck">
                            Forward collision warning
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="autoCheck">
                        <label for="autoCheck">
                            Automatic braking
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="rearDetectionCheck">
                        <label for="rearDetectionCheck">
                            Obstacle detection, rear
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="rearviewCheck">
                        <label for="rearviewCheck">
                            Rearview camera
                        </label>
                    </div>
                </div>
                <div class="featureGroups">
                    <h4> Headlights </h4>
                    <p class="toggleFeatures" id="headlightToggle"> (show) </p>
                </div>
                <div class="multiCheck" id="headlightFeatures" style="display: none;">
                    <div class="checkDiv">
                        <input type="checkbox" id="xenonCheck">
                        <label for="xenonCheck">
                            Xenon (or LED)
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="ledCheck">
                        <label for="ledCheck">
                            LED
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="dimCheck">
                        <label for="dimCheck">
                            Auto-dimming
                        </label>
                    </div>
                </div>
                <div class="featureGroups">
                    <h4> Roof </h4>
                    <p class="toggleFeatures" id="roofToggle"> (show) </p>
                </div>
                <div class="multiCheck" id="roofFeatures" style="display: none;">
                    <div class="checkDiv">
                        <input type="checkbox" id="sunroofCheck">
                        <label for="sunroofCheck">
                            Sunroof
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="twoRowCheck">
                        <label for="twoRowCheck">
                            Two-row sunroof
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="powerSoftCheck">
                        <label for="powerSoftCheck">
                            Power soft top
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="retractableCheck">
                        <label for="retractableCheck">
                            Power-retractable hardtop
                        </label>
                    </div>
                </div>
                <div class="featureGroups">
                    <h4> Accessories </h4>
                    <p class="toggleFeatures" id="accessoryToggle"> (show) </p>
                </div>
                <div class="multiCheck" id="accessoryFeatures" style="display: none;">
                    <div class="checkDiv">
                        <input type="checkbox" id="proximityCheck">
                        <label for="proximityCheck">
                            Proximity key
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="powerTrunkCheck">
                        <label for="powerTrunkCheck">
                            Power trunk / tailgate
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="dimMirrorCheck">
                        <label for="dimMirrorCheck">
                            Auto-dimming rearview mirror
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="universalCheck">
                        <label for="universalCheck">
                            Universal garage door opener
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="adaptiveCruiseCheck">
                        <label for="adaptiveCruiseCheck">
                            Adaptive cruise control
                        </label>
                    </div>
                </div>
                <div class="featureGroups">
                    <h4> Infotainment </h4>
                    <p class="toggleFeatures" id="infotainmentToggle"> (show) </p>
                </div>
                <div class="multiCheck" id="infotainmentFeatures" style="display: none;">
                    <div class="checkDiv">
                        <input type="checkbox" id="surroundCheck">
                        <label for="surroundCheck">
                            Surround sound (premium audio)
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="navCheck">
                        <label for="navCheck">
                            Nav system
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="usbCheck">
                        <label for="usbCheck">
                            USB or ipod port
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="bluetoothCheck">
                        <label for="bluetoothCheck">
                            Bluetooth
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="smsCheck">
                        <label for="smsCheck">
                            SMS text-to-speech reader
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="appCheck">
                        <label for="appCheck">
                            App support
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="wifiCheck">
                        <label for="wifiCheck">
                            Wi-Fi hotspot
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="4GCheck">
                        <label for="4GCheck">
                            4G LTE connectivity
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="rearSeatCheck">
                        <label for="rearSeatCheck">
                            Rear seat entertainment system
                        </label>
                    </div>
                </div>
                <div class="featureGroups">
                    <h4> Climate Control </h4>
                    <p class="toggleFeatures" id="climateToggle"> (show) </p>
                </div>
                <div class="multiCheck" id="climateFeatures" style="display: none;">
                    <div class="checkDiv">
                        <input type="checkbox" id="autoClimateCheck">
                        <label for="autoClimateCheck">
                            Automatic climate control
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="dualZoneCheck">
                        <label for="dualZoneCheck">
                            Dual zone climate control
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="rearAirCheck">
                        <label for="rearAirCheck">
                            Rear air vents
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="rainCheck">
                        <label for="rainCheck">
                            Rain-sensing wipers
                        </label>
                    </div>
                </div>
                <div class="featureGroups">
                    <h4> Interior Trim </h4>
                    <p class="toggleFeatures" id="trimToggle"> (show) </p>
                </div>
                <div class="multiCheck" id="trimFeatures" style="display: none;">
                    <div class="checkDiv">
                        <input type="checkbox" id="leatherSeatCheck">
                        <label for="leatherSeatCheck">
                            Leather seating surfaces
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="leatherPanelCheck">
                        <label for="leatherPanelCheck">
                            Leather instrument panel
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="realWoodCheck">
                        <label for="realWoodCheck">
                            Real wood trim
                        </label>
                    </div>
                </div>
                <div class="featureGroups">
                    <h4> Driver Seat </h4>
                    <p class="toggleFeatures" id="driverToggle"> (show) </p>
                </div>
                <div class="multiCheck" id="driverFeatures" style="display: none;">
                    <div class="checkDiv">
                        <input type="checkbox" id="powerHeightCheck">
                        <label for="powerHeightCheck">
                            Power height
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="tiltCheck">
                        <label for="tiltCheck">
                            Tilt adjustment
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="reclineCheck">
                        <label for="reclineCheck">
                            Power recline
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="bolsterCheck">
                        <label for="bolsterCheck">
                            Power side bolsters
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="lumbarCheck">
                        <label for="lumbarCheck">
                            Lumbar adjustment
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="thighCheck">
                        <label for="thighCheck">
                            Thigh support adjustment
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="massageCheck">
                        <label for="massageCheck">
                            Massage
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="memoryCheck">
                        <label for="memoryCheck">
                            Memory
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="heatedCheck">
                        <label for="heatedCheck">
                            Heated
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="cooledCheck">
                        <label for="cooledCheck">
                            Cooled
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="heatedWheelCheck">
                        <label for="heatedWheelCheck">
                            Heated steering wheel
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="tiltWheelCheck">
                        <label for="tiltWheelCheck">
                            Tilt / telescoping steering wheel
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="powerWheelCheck">
                        <label for="powerWheelCheck">
                            Power-adjustable steering wheel
                        </label>
                    </div>
                </div>
                <div class="featureGroups">
                    <h4> Both Front Seats </h4>
                    <p class="toggleFeatures" id="frontToggle"> (show) </p>
                </div>
                <div class="multiCheck" id="frontFeatures" style="display: none;">
                    <div class="checkDiv">
                        <input type="checkbox" id="frontHeightCheck">
                        <label for="frontHeightCheck">
                            Power height
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="frontReclineCheck">
                        <label for="frontReclineCheck">
                            Power recline
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="frontLumbarCheck">
                        <label for="frontLumbarCheck">
                            Lumbar adjustment
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="frontMassageCheck">
                        <label for="frontMassageCheck">
                            Massage
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="frontHeatCheck">
                        <label for="frontHeatCheck">
                            Heated
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="realCoolCheck">
                        <label for="realCoolCheck">
                            Cooled
                        </label>
                    </div>
                </div>
                <div class="featureGroups">
                    <h4> Rear Seats </h4>
                    <p class="toggleFeatures" id="rearToggle"> (show) </p>
                </div>
                <div class="multiCheck" id="rearFeatures" style="display: none;">
                    <div class="checkDiv">
                        <input type="checkbox" id="rearReclineCheck">
                        <label for="rearReclineCheck">
                            Reclining
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="rearPowerCheck">
                        <label for="rearReclineCheck">
                            Power reclining
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="rearHeatCheck">
                        <label for="rearHeatCheck">
                            Heated
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="realCoolCheck">
                        <label for="realCoolCheck">
                            Cooled
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="thirdRowCheck">
                        <label for="thirdRowCheck">
                            Third row
                        </label>
                    </div>
                </div>
                <div class="featureGroups">
                    <h4> Cargo </h4>
                    <p class="toggleFeatures" id="cargoToggle"> (show) </p>
                </div>
                <div class="multiCheck" id="cargoFeatures" style="display: none;">
                    <div class="checkDiv">
                        <input type="checkbox" id="foldingFrontCheck">
                        <label for="foldingFrontCheck">
                            Folding front passenger seat
                        </label>
                    </div>
                    <div class="checkDiv">
                        <input type="checkbox" id="foldingRearCheck">
                        <label for="foldingRearCheck">
                            Folding second row seat(s)
                        </label>
                    </div>
                </div>
            </div>
            <button> Submit </button>
        </form>
    </div>
    <div id="middleDiv">
        <p> <strong> Note: </strong> <em> We have full features data on most cars from 2006 to 2018. If you
                don't see a model listed, we don't have this information for it.</em></p>
        <p> Want to know which of two cars is more powerful? Which has more room inside? Perform a specs
            comparison to find out. </p>
        <p> How do features compare? To see a full list of the standard and option features on both, perform a
            features comparison. </p>
        <p> Know which features you want? Then head over to the <a href="/prices/"> price comparisons </a>,
            where you can select which features to include on both cars and we'll
            then compare the prices before and after adjusting for feature differences. If you're a member, you
            can even specify how much to adjust the prices
            based on how much each specific feature is worth to you.</p>
    </div>
    <div class="green alertDiv">
        No idea which car models you might be interested in? Find candidates in our <a href="/model-search">car
            model search</a>.
    </div>
    <div id="aboutDiv">
        <h2> Notes on Vehicle Specifications and Features</h2>
        <p> How much room is enough? A man of average height (5'9") requires at least 40 inches of front
            legroom, 35 inches of rear legroom, and 36 inches of headroom.
            For a taller person, divide the amount over 5'9" in half (unless most of their height is in their
            torso or their legs) and add that to these minimums. </p>
        <p> Manufacturers can game these numbers a little, so take these specs with a grain of salt (or three).
            To verify how much roomy a car actually is (or isn't), first adjust the front seat so you're
            comfortable, then check the rear seat. </p>
        <p> In hatchbacks, SUVs, and minivans, there are a number of different ways to measure cargo volume, so
            be especially careful with these specs.
            Usually cargo volume is measured all the way to the ceiling, so you can't use it all and still see
            out the back window.
            For this reason, 16 cu. ft. of cargo volume in a hatchback isn't as usable as a 16 cu. ft. trunk in
            a sedan.
            Sometimes, though, the manufacturer doesn't measure all the way up to the ceiling. If a cargo volume
            spec seems lower than it should be, this is probably why. </p>
        <p> Also note that we don't vary specs by powertrain. If a car is available with both a hybrid and a
            conventional engine, cargo volume will be lower with the hybrid.
            Optional all-wheel-drive sometimes also affects cargo volume, fuel capacity, or both. </p>
        <p> If a feature is listed as an option, hover over "option" to see which packages include it.
            To see what other features the package includes, check the option package contents section at the
            bottom of the standard and optional features page.</p>
    </div>
</div>
{% endblock %}
{% block script %}
    <script>
    const featureDivs = ["ptrain", "safety", "headlight", "roof", "accessory", "infotainment", "climate", "trim", "driver", "front", "rear", "cargo"]
    featureDivs.forEach((feature) => {
        document.getElementById(feature + 'Toggle').addEventListener('click', function () {
            const featuresDiv = document.getElementById(feature + 'Features');
            const isHidden = featuresDiv.style.display == "none";
            this.innerHTML = isHidden ? "(hide)" : "(show)";
            featuresDiv.style.display = isHidden ? 'grid' : 'none';
        });
    });

    document.getElementById("allToggle").addEventListener('click', function () {
        const isHidden = this.innerHTML == "(show all)";
        this.innerHTML = isHidden ? "(hide all)" : "(show all)";
        featureDivs.forEach((feature) => {
            const featuresDiv = document.getElementById(feature + 'Features');
            const featureToggle = document.getElementById(feature + "Toggle");
            featureToggle.innerHTML = isHidden ? "(hide)" : "(show)";
            featuresDiv.style.display = isHidden ? 'grid' : 'none';
        });
    });

    const yearSelect = document.querySelector('#id_year');
    const makeSelect = document.querySelector('#id_make');

    yearSelect.addEventListener('change', function () {
        const yearId = this.value;

        if (yearId) {
            fetch(`/problems/ajax/load-makes/?year_id=${yearId}`)
                .then(response => response.json())
                .then(data => {

                    // Clear existing options
                    makeSelect.innerHTML = '<option value="">---------</option>';

                    // Add new options
                    data.forEach(make => {
                        const option = document.createElement('option');
                        option.value = make.id;
                        option.textContent = make.make_title;
                        makeSelect.appendChild(option);
                    });
                });
        } else {
            makeSelect.innerHTML = '<option value="">---------</option>';
        }
    });
</script>
{%endblock%}